.menu {
  background-color: rgb(238, 238, 238);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-top: -2rem;

  position: relative;

  .carte {
    background-color: white;
    height: 6rem;
    border-radius: 15px;
    padding: 0.5rem;
    position: relative;
  }
}

.img-resto {
  width: 100%;
  height: 15rem;
  display: flex;
  
}

.img-resto img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.fa-check {
  color: $color-tertiary;
  background-color: white;
  border: white solid;
  border-width: 8px;
  border-radius: 50%;
  transform: rotate(0deg);
  transition: transform 700ms ease;
}

.coche {
  display: flex;
  justify-content: center;
  align-items: center;
  border: $color-tertiary solid;
  width: 25%;
  height: 95%;
  position: absolute;
  left: 74%;
  margin-top: -0.5rem;
  background-color: $color-tertiary;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  transform: scaleX(0);
  transform-origin: right 0%;
  transition: transform 500ms cubic-bezier(0.32, 0, 0.07, 1);
}

.accompagnement {
  overflow: hidden;
  white-space: nowrap;
  width: 300px;
  position: relative;
  transition: 700ms cubic-bezier(0.32, 0, 0.07, 1);
}

.carte a {
  position: absolute;
  left: 90%;
  margin-top: -2rem;
  transition: 500ms cubic-bezier(0.32, 0, 0.07, 1);
}

.carte:hover {
  cursor: pointer;

  .coche {
    transform: scaleX(1);
    .fa-check {
      transform: rotate(360deg);
    }
  }
  .accompagnement {
    width: 200px;
    text-overflow: ellipsis;
  }
  a {
    position: absolute;
    left: 62%;
    margin-top: -2rem;
  }
}
.entrees {
  animation: entrees 500ms 150ms backwards;
}

@keyframes entrees {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.principal {
  animation: principal 1000ms 500ms backwards;
}

@keyframes principal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.desserts {
  animation: desserts 2000ms 1000ms backwards;
}

@keyframes desserts {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
