.menu {
  background-color: rgb(238, 238, 238);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-top: 2rem;
  padding-bottom: 1rem;

  div {
    background-color: white;
    height: 5rem;
    border-radius: 15px;
    margin: 0.5rem;
  }
}

.bouton-rose {
  padding: 2rem;
  margin-top: -1.5rem;
  background-color: $color-quarternary;
}

.img-resto img {
  width: 100%;
  height: auto;
}
