body {
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", cursive;
}

/*polices page d'acceuil*/

.Reservation {
  h2 {
    font-weight: 700;
  }
  p,
  a {
    font-weight: 400;
    color: grey;
  }
}

.Cartes-restaurants {
  h2 {
    font-weight: 700;
  }
  a {
    text-decoration: none;

    p.nom {
      margin-left: 5%;
      color: black;
      font-weight: 700;
    }

    p.quartier {
      margin-left: 5%;
      color: black;
      font-weight: 300;
      margin-top: -0.5rem;
    }
  }
}

/*polices pages menu*/

.menu {
  h2 {
    font-family: Shrikhand;
    font-weight: 500;
    font-size: 28px;
    margin-left: 4%;
    margin-top: -0.5rem;

    i {
     position: absolute;
     left: 83%;
     top: 1.8rem;
    }
  }
  h3 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 18px;
    margin-left: 4%;
    border-bottom: $color-tertiary solid;
    border-width: 3px;
    padding-bottom: 0.3rem;
    width: 2.5rem;
    

  }
  .plat {
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    margin-top: 0.3rem;
  }

  .accompagnement {
    margin-top: -0.5rem;
  }
}
