@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand-Regular.otf");
}

@font-face {
  font-family: "Roboto";
  src: url("RobotoSlab-Regular.ttf");
}

h2 {
  font-family: Roboto;
  font-weight: 600;
}

.Reservation p {
  font-family: Roboto;
  font-size: 15px;
  color: grey;
}

.Reservation a {
  font-family: Roboto;
  font-size: 15px;
  color: grey;
}

.heading-menu {
  font-family: Shrikhand;
  margin-left: 1rem;
  padding-top: 3rem;
}

.heading-menu i {
  margin-left: 2rem;
}
