@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand-Regular.otf");
}

@font-face {
  font-family: "Roboto";
  src: url("RobotoSlab-Regular.ttf");
}

h2 {
  font-family: Roboto;
  font-weight: 600;
}

.menu h2 {
  font-family: Shrikhand;
  font-weight: 100;
  font-size: 35px;
  margin-left: 1rem;

  i {
    position: absolute;
    right: 3rem;
  }
}

h3 {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  margin-left: 1rem;
  color: rgb(75, 85, 85);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: $color-tertiary;
  text-decoration-thickness: 4px;
  text-underline-position: under;
}

.Reservation {
  p {
    font-family: Roboto;
    font-size: 15px;
    color: grey;
    a {
      font-family: Roboto;
      font-size: 15px;
      color: grey;
    }
  }
}

.heading-menu {
  font-family: Shrikhand;
  margin-left: 1rem;
  padding-top: 3rem;
}

.heading-menu i {
  margin-left: 2rem;
}

a {
  color: black;
  text-decoration: none;
}

.menu div {
  margin: 0.5rem;
  height: 5rem;

  p {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
  }
  a {
    font-family: Roboto;
    font-size: 15px;
  }
  span {
    position: absolute;
    left: 90%;
  }
}
