body {
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", cursive;
}

/*polices page d'acceuil*/

.Reservation {
  h2 {
    font-weight: 700;
  }
  p,
  a {
    font-weight: 400;
    color: grey;
  }
}

.Cartes-restaurants {
  h2 {
    font-weight: 700;
  }
  a {
    text-decoration: none;

    p.nom {
      margin-left: 5%;
      color: black;
      font-weight: 700;
    }

    p.quartier {
      margin-left: 5%;
      color: black;
      font-weight: 300;
      margin-top: -0.5rem;
    }
  }
}

/*polices pages menu*/
