body {
  margin: 0;
  padding: 0;
  width: 100%;
}

@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand-Regular.otf");
}

@font-face {
  font-family: "Roboto";
  src: url("RobotoSlab-Regular.ttf");
}

h2 {
  font-family: Roboto;
  font-weight: 600;
}

.Reservation p {
  font-family: Roboto;
  font-size: 15px;
  color: grey;
}

.Reservation a {
  font-family: Roboto;
  font-size: 15px;
  color: grey;
}

.bouton-rose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.bouton-rose input {
  width: 12rem;
  height: 3rem;
  border-color: #ff79da;
  border-radius: 25px;
  background-color: #ff79da;
  color: white;
}

.logo {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.logo img {
  width: 10rem;
  height: 2rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: black;
  padding-bottom: 2rem;
}

footer h2 {
  font-family: Shrikhand;
  color: white;
  margin-left: 2rem;
}

footer p {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-left: 2rem;
  margin-bottom: -0.2rem;
}

footer i {
  margin-right: 1rem;
}

.Ville {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  height: 3rem;
  background-color: #dfdddd;
  border-top: #cac9c9 solid;
  margin-bottom: 1rem;
}

#Localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  font-weight: bold;
  font-size: 16px;
  background-color: #dfdddd;
  height: 3rem;
  margin-left: 2%;
}

.fa-map-marker-alt {
  padding-left: 5rem;
}

.Reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f1efef;
  width: 102%;
  height: 17rem;
  padding-bottom: 4rem;
}

.Reservation h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: -1.5rem;
}

.Reservation h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.Reservation p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2rem;
}

.Reservation a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.Fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.Fonctionnement h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-left: 5%;
}

.Fonctionnement a {
  color: white;
  border: #9356dc solid;
  background-color: #9356dc;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 70px;
  margin-right: 5rem;
  margin-left: -0.6rem;
}

.Fonctionnement input {
  border: none;
  background-color: #f1efef;
  padding-right: 6rem;
  width: 12rem;
  margin-left: -1rem;
  font-size: 14px;
  font-weight: bold;
}

.Fonctionnement p {
  background-color: #f1efef;
  border-radius: 20px;
  width: 20rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 1rem;
}

.Fonctionnement i {
  margin-right: 2rem;
  margin-left: -3rem;
}

.Cartes-restaurants {
  width: 102%;
  background-color: #f1efef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-items: center;
}

.Cartes-restaurants div {
  background-color: white;
  margin: 1rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.Cartes-restaurants div img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.Cartes-restaurants div p {
  font-size: 18px;
  font-weight: bold;
}

.Cartes-restaurants div a {
  font-size: 18px;
}
/*# sourceMappingURL=main.css.map */
