@import "./sass/utils/variables";
@import "./sass/utils/functions";
@import "./sass/utils/mixins";
@import "./sass/utils/extensions";
@import "./sass/base/base";
@import "./sass/base/typography";
@import "./sass/components/buttons";
@import "./sass/layouts/header";
@import "./sass/layouts/nav";
@import "./sass/layouts/container";
@import "./sass/layouts/form";
@import "./sass/pages/work";
@import "./sass/pages/about";
@import "./sass/pages/project";