@import "./sass/utils/variables";
@import "./sass/base/typography";
@import "./sass/components/buttons";
@import "./sass/layouts/header";
@import "./sass/layouts/container";
@import "./sass/layouts/footer";
@import "./sass/pages/animation";
@import "./sass/pages/project";
