@charset "UTF-8";
/*couleurs communes à toutes les pages*/
body {
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", cursive;
}

/*polices page d'acceuil*/
.Reservation h2 {
  font-weight: 700;
}

.Reservation p,
.Reservation a {
  font-weight: 400;
  color: grey;
}

.Cartes-restaurants h2 {
  font-weight: 700;
}

.Cartes-restaurants a {
  text-decoration: none;
}

.Cartes-restaurants a p.nom {
  margin-left: 5%;
  color: black;
  font-weight: 700;
}

.Cartes-restaurants a p.quartier {
  margin-left: 5%;
  color: black;
  font-weight: 300;
  margin-top: -0.5rem;
}

/*polices pages menu*/
.menu h2 {
  font-family: Shrikhand;
  font-weight: 500;
  font-size: 28px;
  margin-left: 4%;
  margin-top: -0.5rem;
}

.menu h2 i {
  position: absolute;
  left: 83%;
  top: 1.8rem;
}

.menu h3 {
  font-family: Roboto;
  font-weight: 300;
  font-size: 18px;
  margin-left: 4%;
  border-bottom: #99E2D0 solid;
  border-width: 3px;
  padding-bottom: 0.3rem;
  width: 2.5rem;
}

.menu .plat {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  margin-top: 0.3rem;
}

.menu .accompagnement {
  margin-top: -0.5rem;
}

/*boutons commun à toutes les pages*/
.bouton-rose1,
.bouton-rose2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #f1efef;
  margin: 1rem;
  padding-bottom: 1rem;
}

.bouton-rose1 input,
.bouton-rose2 input {
  width: 12rem;
  height: 3rem;
  border-width: 0px;
  border-top-color: #FF79DA;
  border-bottom-color: #9356DC;
  border-radius: 25px;
  background-color: #FF79DA;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  -webkit-box-shadow: 0px 4px 0px 0px #e0e0e0;
          box-shadow: 0px 4px 0px 0px #e0e0e0;
}

.bouton-rose1 :hover,
.bouton-rose2 :hover {
  opacity: 0.7;
  -webkit-box-shadow: 0px 4px 0px 0px #b1b1b1;
          box-shadow: 0px 4px 0px 0px #b1b1b1;
}

/*animation btn-fonctionnement*/
.Fonctionnement :hover {
  cursor: pointer;
}

.Fonctionnement :hover input {
  background-color: #efe3ff;
}

.Fonctionnement :hover p {
  background-color: #efe3ff;
}

/*animation btn"nouveau"*/
.btn-new {
  position: absolute;
  top: -2rem;
  left: 65%;
  width: 6rem;
  height: auto;
  border: #99E2D0 solid;
  background-color: #99E2D0;
  color: #3e8171;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*header commun à toutes les pages*/
.head-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 1rem;
}

.logo-menu img {
  width: 10rem;
  height: 2rem;
}

.fleche {
  position: absolute;
  top: 1.5rem;
  left: 3%;
}

.fleche a {
  color: black;
}

/*css commun à toutes les pages-menu*/
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", cursive;
}

.menu {
  background-color: #eeeeee;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-top: 2rem;
  margin-top: -2rem;
  padding-bottom: 3rem;
  position: relative;
}

.menu .carte {
  background-color: white;
  height: 4rem;
  border-radius: 15px;
  padding: 0.5rem;
  position: relative;
  margin: 1rem;
}

.img-resto {
  width: 100%;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-resto img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.bouton-rose2 {
  margin-top: 3rem;
  margin-bottom: -1rem;
}

/*animation: apparition-coche et rognage-textes*/
.fa-check {
  color: #99E2D0;
  background-color: white;
  border: white solid;
  border-width: 8px;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 700ms ease;
  transition: -webkit-transform 700ms ease;
  transition: transform 700ms ease;
  transition: transform 700ms ease, -webkit-transform 700ms ease;
}

.coche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: #99E2D0 solid;
  width: 20%;
  height: 93%;
  position: absolute;
  left: 79%;
  margin-top: -0.5rem;
  background-color: #99E2D0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right 0%;
          transform-origin: right 0%;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.32, 0, 0.07, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.32, 0, 0.07, 1);
  transition: transform 500ms cubic-bezier(0.32, 0, 0.07, 1);
  transition: transform 500ms cubic-bezier(0.32, 0, 0.07, 1), -webkit-transform 500ms cubic-bezier(0.32, 0, 0.07, 1);
}

.accompagnement,
.plat {
  overflow: hidden;
  white-space: nowrap;
  width: 300px;
  position: relative;
  -webkit-transition: 700ms cubic-bezier(0.32, 0, 0.07, 1);
  transition: 700ms cubic-bezier(0.32, 0, 0.07, 1);
}

.carte a {
  position: absolute;
  left: 90%;
  margin-top: -2.2rem;
  -webkit-transition: 500ms cubic-bezier(0.32, 0, 0.07, 1);
  transition: 500ms cubic-bezier(0.32, 0, 0.07, 1);
}

.carte:hover {
  cursor: pointer;
}

.carte:hover .coche {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.carte:hover .coche .fa-check {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.carte:hover .accompagnement,
.carte:hover .plat {
  width: 200px;
  text-overflow: ellipsis;
}

.carte:hover a {
  position: absolute;
  left: 65%;
  margin-top: -2.2rem;
}

/*animation colored heart page menu*/
.coeur-3 {
  position: absolute;
  left: 85%;
  margin-top: -3.7rem;
  background-color: #f1efef;
  color: #9356DC;
}

.coeur-4 {
  position: absolute;
  left: 85%;
  margin-top: -3.7rem;
  background-color: #f1efef;
  -webkit-transition: 2000ms;
  transition: 2000ms;
  color: grey;
}

.coeur-3:hover {
  opacity: 1;
}

.coeur-4:hover {
  opacity: 0;
}

/*animation: apparition progressive des cartes*/
@-webkit-keyframes carte_keyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes carte_keyframes {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.carte {
  -webkit-animation: carte_keyframes 2000ms backwards;
          animation: carte_keyframes 2000ms backwards;
}

.carte:nth-child(1n) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.carte:nth-child(2n) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.carte:nth-child(3n) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.carte:nth-child(4n) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

/* media querries pages menu xs screen*/
@media only screen and (min-width: 270px) and (max-width: 350px) {
  .menu h2 {
    font-size: 23px;
  }
  .menu h2 i {
    left: 87%;
  }
  .carte .plat {
    font-size: 14px;
    width: 200px;
  }
  .carte .accompagnement {
    font-size: 13px;
    margin-top: 1rem;
    width: 200px;
  }
  .carte a {
    left: 80%;
    top: 3rem;
  }
  .carte:hover .accompagnement,
  .carte:hover .plat {
    width: 100px;
    text-overflow: ellipsis;
  }
  .carte:hover a {
    position: absolute;
    left: 60%;
    margin-top: -2.2rem;
  }
}

/* media querries pages menu tablet screen*/
/* media querries pages menu desktop screen*/
@media only screen and (min-width: 950px) and (max-width: 2000px) {
  .entrees,
  .principal,
  .desserts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .entrees .carte,
  .principal .carte,
  .desserts .carte {
    width: 28%;
  }
  .entrees .carte a,
  .principal .carte a,
  .desserts .carte a {
    left: 80%;
  }
  .carte:hover .coche {
    width: 15%;
    left: 85%;
  }
  .carte:hover .accompagnement,
  .carte:hover .plat {
    width: 200px;
  }
  .carte:hover a {
    position: absolute;
    left: 70%;
    margin-top: -2.2rem;
  }
}

/*footer commun à toutes les pages*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 100%;
}

footer h2 {
  font-family: Shrikhand;
  color: white;
  margin-left: 2rem;
}

footer p {
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-left: 2rem;
  margin-bottom: -0.2rem;
}

footer i {
  margin-right: 1rem;
}

footer a {
  text-decoration: none;
}

/*animation page d'acceuil*/
/*animation spin loader*/
.spin {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #f1efef;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: disparition_spin 2s linear;
          animation: disparition_spin 2s linear;
  visibility: hidden;
}

.loader {
  border: 16px solid #99E2D0;
  border-top: 16px solid #FF79DA;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear 2;
          animation: spin 1s linear 2;
}

@-webkit-keyframes disparition_spin {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes disparition_spin {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*animation colored heart page d'acceuil*/
.coeur-1 {
  position: absolute;
  left: 85%;
  margin-top: 11rem;
  background-color: white;
  color: #9356DC;
}

.coeur-2 {
  position: absolute;
  left: 85%;
  margin-top: 11rem;
  background-color: white;
  -webkit-transition: 2000ms;
  transition: 2000ms;
  color: grey;
}

.coeur-1:hover {
  opacity: 1;
}

.coeur-2:hover {
  opacity: 0;
}

/*css de la page d'acceuil*/
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.logo {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.logo img {
  width: 10rem;
  height: 2rem;
}

.Ville {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  height: 3rem;
  background-color: #dfdddd;
  border-top: #cac9c9 solid;
  margin-bottom: 1rem;
}

#Localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  font-weight: bold;
  font-size: 16px;
  background-color: #dfdddd;
  height: 3rem;
  margin-left: 2%;
}

.fa-map-marker-alt {
  padding-left: 5rem;
}

.Reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1efef;
  width: 100%;
  height: 17rem;
  padding-bottom: 4rem;
}

.Reservation h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -1.5rem;
}

.Reservation p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.Reservation a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.Fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 3rem;
}

.Fonctionnement h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin-left: 5%;
}

.Fonctionnement a {
  color: white;
  border: #9356DC solid;
  background-color: #9356DC;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 70px;
  margin-right: 5rem;
  margin-left: -0.6rem;
}

.Fonctionnement input {
  border: none;
  background-color: #f1efef;
  padding-right: 6rem;
  width: 12rem;
  margin-left: -1rem;
  font-size: 14px;
  font-weight: bold;
}

.Fonctionnement p {
  background-color: #f1efef;
  border-radius: 20px;
  width: 20rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  -webkit-box-shadow: 0px 4px 0px 0px #e7e7e7;
          box-shadow: 0px 4px 0px 0px #e7e7e7;
}

.Fonctionnement i {
  margin-right: 2rem;
  margin-left: -3rem;
}

.Cartes-restaurants {
  width: 100%;
  background-color: #f1efef;
  padding-bottom: 1rem;
}

.Cartes-restaurants h2 {
  margin-left: 5%;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.Cartes-restaurants div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: white;
  margin-left: 5%;
  margin-bottom: 5rem;
  border-radius: 20px;
  width: 90%;
  height: 15rem;
}

.Cartes-restaurants div a img {
  width: 100%;
  height: 13rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: -2rem;
}

/*media-querries small screen page d'acceuil*/
@media only screen and (min-width: 270px) and (max-width: 350px) {
  #Localisation {
    width: 80%;
    margin-left: 5%;
  }
  .Fonctionnement p {
    width: 15rem;
  }
  .Fonctionnement input {
    margin-left: -22%;
  }
  .Fonctionnement i {
    position: absolute;
    left: 39%;
  }
  .btn-new {
    left: 50%;
  }
}

/*media-querries tablet screen page d'acceuil*/
@media only screen and (min-width: 550px) and (max-width: 800px) {
  .btn-new {
    left: 75%;
  }
}

/*media-querries desktop screen page d'acceuil*/
@media only screen and (min-width: 801px) and (max-width: 1600px) {
  .btn-new {
    left: 85%;
  }
}
/*# sourceMappingURL=main.css.map */