@import "./sass/utils/variables";
@import "./sass/base/base";
@import "./sass/base/typography";
@import "./sass/components/buttons";
@import "./sass/layouts/header";
@import "./sass/layouts/container";
@import "./sass/layouts/form";
@import "./sass/pages/work";
@import "./sass/pages/project";
