/*animation page d'acceuil*/

/*animation spin loader*/
.spin {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $color-quarternary;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: disparition_spin 2s linear;
  visibility: hidden;
}
.loader {
  border: 16px solid $color-tertiary;
  border-top: 16px solid $color-secondary;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear 2;
}

@keyframes disparition_spin {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*animation colored heart*/
.coeur-1 {
  position: absolute;
  left: 85%;
  margin-top: 11rem;
  background-color: white;
  color: $color-primary;
}

.coeur-2 {
  position: absolute;
  left: 85%;
  margin-top: 11rem;
  background-color: white;
  transition: 2000ms;
  color: grey;
}

.coeur-1:hover {
  opacity: 1;
}

.coeur-2:hover {
  opacity: 0;
}
