body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.logo {
  margin: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.logo img {
  width: 10rem;
  height: 2rem;
}

.Ville {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: 3rem;
  background-color: rgb(223, 221, 221);
  border-top: rgb(202, 201, 201) solid;
  margin-bottom: 1rem;
}

#Localisation {
  display: flex;
  justify-content: center;
  border: none;
  font-weight: bold;
  font-size: 16px;
  background-color: rgb(223, 221, 221);
  height: 3rem;
  margin-left: 2%;
}

.fa-map-marker-alt {
  padding-left: 5rem;
}

.Reservation {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: $color-quarternary;
  width: 100%;
  height: 17rem;
  padding-bottom: 4rem;
  h2 {
    display: flex;
    justify-content: center;
    margin-bottom: -1.5rem;
  }
  p {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  a {
    display: flex;
    justify-content: center;
    margin-top: -1rem;
    margin-bottom: 2rem;
  }
}
.Fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-bottom: 3rem;
  h2 {
    display: flex;
    width: 95%;
    margin-left: 5%;
  }
  a {
    color: white;
    border: $color-primary solid;
    background-color: $color-primary;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border-radius: 70px;
    margin-right: 5rem;
    margin-left: -0.6rem;
  }
  input {
    border: none;
    background-color: $color-quarternary;
    padding-right: 6rem;
    width: 12rem;
    margin-left: -1rem;
    font-size: 14px;
    font-weight: bold;
  }
  p {
    background-color: $color-quarternary;
    border-radius: 20px;
    width: 20rem;
    height: 4rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    box-shadow: 0px 4px 0px 0px rgb(231, 231, 231);
  }
  i {
    margin-right: 2rem;
    margin-left: -3rem;
  }
}

.Cartes-restaurants {
  width: 100%;
  background-color: $color-quarternary;
  padding-bottom: 1rem;

  h2 {
    margin-left: 5%;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
  div a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: white;
    margin-left: 5%;
    margin-bottom: 5rem;
    border-radius: 20px;
    width: 90%;
    height: 15rem;

    img {
      width: 100%;
      height: 13rem;
      object-fit: cover;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      margin-top: -2rem;
    }
  }
}
