.logo {
  margin: 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.logo img {
  width: 10rem;
  height: 2rem;
}

.Ville {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 3rem;
  background-color: rgb(223, 221, 221);
  border-top: rgb(202, 201, 201) solid;
  margin-bottom: 1rem;
}

#Localisation {
  display: flex;
  justify-content: center;
  border: none;
  font-weight: bold;
  font-size: 16px;
  background-color: rgb(223, 221, 221);
  height: 3rem;
  margin-left: 2%;
}

.fa-map-marker-alt {
  padding-left: 5rem;
}

.Reservation {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: $color-quarternary;
  width: 102%;
  height: 17rem;
  padding-bottom: 4rem;
}

.Reservation h2 {
  display: flex;
  justify-content: center;
  margin-bottom: -1.5rem;
}

.Reservation h3 {
  display: flex;
  justify-content: center;
}

.Reservation p {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.Reservation a {
  display: flex;
  justify-content: center;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.Fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.Fonctionnement h2 {
  display: flex;
  width: 100%;
  margin-left: 5%;
}

.Fonctionnement a {
  color: white;
  border: $color-primary solid;
  background-color: $color-primary;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 70px;
  margin-right: 5rem;
  margin-left: -0.6rem;
}

.Fonctionnement input {
  border: none;
  background-color: $color-quarternary;
  padding-right: 6rem;
  width: 12rem;
  margin-left: -1rem;
  font-size: 14px;
  font-weight: bold;
}

.Fonctionnement p {
  background-color: $color-quarternary;
  border-radius: 20px;
  width: 20rem;
  height: 4rem;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.Fonctionnement i {
  margin-right: 2rem;
  margin-left: -3rem;
}

.Cartes-restaurants {
  width: 102%;
  background-color: $color-quarternary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.Cartes-restaurants div {
  background-color: white;
  margin: 1rem;
  border-radius: 20px;
}

.Cartes-restaurants div img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.Cartes-restaurants div p {
  font-size: 18px;
  font-weight: bold;
}

.Cartes-restaurants div a {
  font-size: 18px;
}
