.bouton-rose {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: $color-quarternary;
}

.bouton-rose input {
  width: 12rem;
  height: 3rem;
  border-color: $color-secondary;
  border-radius: 25px;
  background-color: $color-secondary;
  color: white;
}
