.bouton-rose {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: $color-quarternary;
  margin: 1rem;
}

.bouton-rose input {
  width: 12rem;
  height: 3rem;
  border-width: 0px;
  border-top-color: $color-secondary;
  border-bottom-color: $color-primary;
  border-radius: 25px;
  background-color: $color-secondary;
  color: white;
  background: linear-gradient(to bottom, $color-secondary, $color-primary);
  box-shadow: 0px 4px 0px 0px rgb(224, 224, 224);
}

.bouton-rose input:hover {
  opacity: 0.7;
  box-shadow: 0px 4px 0px 0px rgb(177, 177, 177);
}

.Fonctionnement :hover {
  h2 {
    display: flex;
    width: 100%;
    margin-left: 5%;
  }

  a {
    color: white;
    border: $color-primary solid;
    background-color: $color-primary;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border-radius: 70px;
    margin-right: 5rem;
    margin-left: -0.6rem;
  }

  input {
    border: none;
    background-color: #efe3ff;
    padding-right: 6rem;
    width: 12rem;
    margin-left: -1rem;
    font-size: 14px;
    font-weight: bold;
  }

  p {
    background-color: #efe3ff;
    border-radius: 20px;
    width: 20rem;
    height: 4rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }

  i {
    margin-right: 2rem;
    margin-left: -3rem;
  }
}

.coeur-1 i:hover {
  background-color: white;
}

.coeur-1 i::before {
  color: white;
  font-weight: bold;
  transition: color 2s ease-out;
}
.coeur-1 i:hover::before {
  color: $color-primary;
  cursor: pointer;
}

.coeur-2 i:hover {
  display: none;
}

.btn-new {
  width: 6rem;
  height: auto;
  border: $color-tertiary solid;
  background-color: $color-tertiary;
  color:#3e8171 ;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  position: absolute;
  left: 66%;
 }


