.bouton-rose {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: $color-quarternary;
  margin: 1rem;
}

.bouton-rose input {
  width: 12rem;
  height: 3rem;
  border-width: 0px;
  border-top-color: $color-secondary;
  border-bottom-color: $color-primary;
  border-radius: 25px;
  background-color: $color-secondary;
  color: white;
  background: linear-gradient(to bottom, $color-secondary, $color-primary);
  box-shadow: 0px 4px 0px 0px rgb(224, 224, 224);
}

.bouton-rose input:hover {
  opacity: 0.7;
  box-shadow: 0px 4px 0px 0px rgb(177, 177, 177);
}

/*animation btn-fonctionnement*/
.Fonctionnement :hover {
  cursor: pointer;
  input {
    background-color: #efe3ff;
  }
  p {
    background-color: #efe3ff;
  }
}

/*animation btn"nouveau"*/

.btn-new {
  position: absolute;
  top: -2rem;
  left: 60%;
  width: 6rem;
  height: auto;
  border: $color-tertiary solid;
  background-color: $color-tertiary;
  color: #3e8171;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
